@import "mobile";

// we can make variables!!! sweeeeeet!!
$bg-color: #282c34;
$link-color: #61dafb;

// we also make functions, amaaazzing!!
@mixin grow($size) {
  font-size: $size;
}

// we can even make classes, so much power!!!
%list-item {
  background-color: black;
  text-align: left;
  padding: 0.5em * 2; // you can use math operators like +, -, *, /, and %.
  border: 1px solid white;
}

// look at these nested elements, beautiful just like your html
.App {
  text-align: center;

  .App-header {
    background-color: $bg-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 40vmin;
      pointer-events: none;
    }

    .App-link {
      color: $link-color;
      @include grow(2em);
    }

    ul {
      li {
        @extend %list-item;
      }
    }

    ol {
      li {
        @extend %list-item;
      }
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
